// Styling for the masthead
header.masthead {
  text-align: center;
  color: #fdfbf7;
  background-image: url("/assets/img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
              .intro-lead-in {
                font-size: 36px;            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            @include script-font;
          }    .intro-heading {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 60px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include script-font;
      }
      .intro-heading {
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
